<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="woyou.aidlservice.jiuiv5" />  <!-- Sunmi -->
    </queries>

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-sdk tools:overrideLibrary="com.evolis.libevolis" />

    <application
        android:name=".PretixPrint"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <activity
            android:name=".ui.SystemPrintActivity"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.FileViewerEscposActivity"
            android:label="@string/title_activity_fileviewer" />
        <activity
            android:name=".ui.FileViewerLogActivity"
            android:label="@string/title_activity_fileviewer" />
        <activity
            android:name=".ui.FileViewerPdfActivity"
            android:label="@string/title_activity_fileviewer" />
        <activity
            android:name=".ui.USBAttachedActivity"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".ui.PrinterSetupActivity"
            android:parentActivityName=".ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/title_activity_main" />

        <service
            android:name=".print.PrintService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="eu.pretix.pretixpos.print.PRINT_TICKET" />
                <action android:name="eu.pretix.pretixpos.print.PRINT_BADGE" />
                <action android:name="eu.pretix.pretixpos.print.PRINT_RECEIPT" />
            </intent-filter>
        </service>
        <service
            android:name=".print.TicketPrintService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="eu.pretix.pretixpos.print.PRINT_TICKET" />
            </intent-filter>
        </service>
        <service
            android:name=".print.BadgePrintService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="eu.pretix.pretixpos.print.PRINT_BADGE" />
            </intent-filter>
        </service>
        <service
            android:name=".print.ReceiptPrintService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="eu.pretix.pretixpos.print.PRINT_RECEIPT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <meta-data android:name="io.sentry.dsn" android:value="${SENTRY_DSN}" />
        <meta-data android:name="io.sentry.auto-session-tracking.enable" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.activity-lifecycle" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.app-lifecycle" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.system-events" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.app-components" android:value="false" />
        <meta-data android:name="io.sentry.breadcrumbs.user-interaction" android:value="false" />
    </application>

</manifest>