<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.pretix.pretixprint">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <application
        android:name=".PretixPrint"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.PrinterSetupActivity"
            android:parentActivityName=".ui.SettingsActivity"></activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/title_activity_main"></activity>

        <service
            android:name=".print.PrintService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="eu.pretix.pretixpos.print.PRINT_TICKET" />
                <action android:name="eu.pretix.pretixpos.print.PRINT_BADGE" />
                <action android:name="eu.pretix.pretixpos.print.PRINT_RECEIPT" />
            </intent-filter>
        </service>
    </application>

</manifest>